name: CI with Docker (on-PR main)

on:
  pull_request:
    branches: [ main ]

concurrency:  # Prevent multiple runs on rapid pushes
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true


jobs:
  build:
    uses: ./.github/workflows/build.yml
    secrets: inherit
    with:
      image-tag: ${{ github.event.pull_request.number && format('{0}-pr-{1}', github.base_ref, github.event.pull_request.number) || 'manual-run' }}

  test:
    uses: ./.github/workflows/test.yml
    needs: build
    secrets: inherit
    with:
      artifact-name: ${{ needs.build.outputs.artifact }}
      secrets-name: ${{ needs.build.outputs.secrets }}

  push:
    uses: ./.github/workflows/push-dev.yml
    needs: [build, test]
    secrets: inherit
    with:
      artifact-name: ${{ needs.build.outputs.artifact }}
      private-namespace: c0nap
      image-tag: ${{ github.event.pull_request.number && format('{0}-pr-{1}', github.base_ref, github.event.pull_request.number) || 'manual-run' }}
