name: CD with Docker (on-push main)

on:
  push:
    branches: [ main ]

concurrency:  # Prevent multiple runs on rapid pushes
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true


jobs:
  build:
    uses: ./.github/workflows/build.yml
    secrets: inherit
    with:
      image-tag: push-${{ github.sha }}   # Tag should never exist yet

  test:
    uses: ./.github/workflows/test.yml
    needs: build
    secrets: inherit
    with:
      artifact-name: ${{ needs.build.outputs.artifact }}
      secrets-name: ${{ needs.build.outputs.secrets }}

  publish:
    uses: ./.github/workflows/push-prod.yml
    needs: test
    secrets: inherit
    with:
      public-namespace: c0nap/dsci-capstone

  doxygen:
    uses: ./.github/workflows/doxygen.yml
    needs: test
    secrets: inherit

