name: CD with Docker

on:
  push:
    branches: [ main ]

concurrency:  # Prevent multiple runs on rapid pushes
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-test-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write  # Required for pushing to GHCR
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Install make
        run: sudo apt-get update && sudo apt-get install -y make

      - name: Delete old data
        run: make docker-delete-volumes  # Reset usernames / passwords in case .env.example changed

      - name: Create secrets files with fake credentials
        run: |
          make env-dummy
          make appsettings-dummy
        # ORDER MATTERS ^

      - name: Pull outdated Docker images
        run: make docker-pull || true  # Speeds up the build process; true just in case images dont exist yet

      - name: Build latest Docker images for production
        run: |
          make docker-build-prod
          make docker-retag-to-dev

      - name: Run all containers and tests
        run: make docker-all-tests  # Requires a dev-labelled image

      - name: Publish Docker images to GHCR
        if: success()
        run: make docker-publish  # Rebuilds images as prod

      - name: Cleanup
        if: always()   # Runs even if previous steps fail
        run: make docker-full-reset || true  # Cleanup failures wont fail the workflow
